<div class="betslip-outer-container visible" id="yui_3_5_0_1_1643302095709_5589" style="width: 100%;">
  <div class="betslip-tabs" id="yui_3_5_0_1_1643302095709_4576">
    <button data-config-tab="real" data-config-tabtoselect="real" class="tab tab-real ui-selected">
      Real Sports<span class="counter">1</span>
    </button><button data-config-tab="virtual" data-config-tabtoselect="real" class="tab tab-virtual ">
      Virtual Sports<span class="counter">0</span>
    </button>
    <div class="new-feature">
      <div class="title">Virtual Sports Betslip<button class="btn-close-new-feature">Close</button></div>
      <p class="lead">Virtual Sports bets will be added to this new section of the betslip. You can place your Virtual
        and Real Sports bets separately and easily switch between them.</p>
    </div>
  </div>
  <div class="betslip-container betslip-container-real visible" id="yui_3_5_0_1_1643302095709_4467">
    <div id="mod-betslip-1052-container" class="mod yui3-widget yui3-module yui3-betslip yui3-betslip-focused"
      data-mod-type="betslip" data-mod-id="1052">
      <div id="mod-betslip-1052" class="mod-betslip mod-betslip-betslip yui3-betslip-content">
        <div class="betslip-inner-container" data-context="real" id="yui_3_5_0_1_1643302095709_4612">
          <div class="betslip-state state-edit active" id="yui_3_5_0_1_1643302095709_4469">
            <form name="betslip-edit" id="betslip-real-form-edit" class="betslip-form-edit"
              action="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?action=confirm&amp;modules=betslip&amp;bsContext=REAL&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
              data-imply-action="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?action=getBetCombinations&amp;modules=betslip&amp;bsContext=REAL&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
              method="POST" enctype="application/x-www-form-urlencoded">



              <div class="betslip-body bonus-styling-change" id="yui_3_5_0_1_1643302095709_34292">
                <div class="messages" id="yui_3_5_0_1_1643302095709_34811">
                  <ol class="error-container error-ordered-list" id="yui_3_5_0_1_1643302095709_34810">
                    <li
                      class="error-message error-payout-above-maximum-allowed-system-bet error-list-item error-payout-above-maximum-allowed-system-bet-text">
                      Your total potential winnings exceed the maximum of £0.00.</li>
                    <li class="error-message error-invalid-stake error-list-item error-invalid-stake-text">Your stake
                      contains invalid characters</li>
                    <li
                      class="error-message error-invalid-min-stake-system-bet error-list-item error-invalid-min-stake-system-bet-text">
                      The minimun stake for system bets is £0.00.</li>
                    <li
                      class="error-message error-lines-above-maximum-allowed error-list-item error-lines-above-maximum-allowed-text">
                      The maximum number of combinations for system bets is 0.</li>
                    <li
                      class="error-message error-stake-increment-invalid error-list-item error-stake-increment-invalid-text">
                      Your stake increment is not valid. Please see below:</li>
                    <li
                      class="error-message error-maximum-payout-exceeded error-list-item error-maximum-payout-exceeded-text">
                      Your total potential winnings exceed the maximum of <span
                        class="max-payout-exceeded-error-amount">£-1.00</span>.</li>
                    <li
                      class="error-message error-invalid-bonus-min-stake error-list-item error-invalid-bonus-min-stake-text">
                      Bonus cannot be used as your stake is too low. Please increase your stake.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-max-stake error-list-item error-invalid-bonus-max-stake-text">
                      Bonus cannot be used as your stake is too high. Please decrease your stake.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-min-odd error-list-item error-invalid-bonus-min-odd-text">
                      Bonus cannot be used as your selection(s) is below the minimum odds.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-max-odd error-list-item error-invalid-bonus-max-odd-text">
                      Bonus cannot be used as your selection(s) is above the maximum odds.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-with-acca error-list-item error-invalid-bonus-with-acca-text">
                      Bonuses cannot be combined with ACCA Edge.<a class="view-terms-conditions ui-gtm-click-defer"
                        href="//promos.betfair.com/mybonuses/sport" data-dimension3="betslip"
                        data-gacategory="navigation" data-dimension34="//promos.betfair.com/mybonuses/sport"
                        data-galabel="bonus help" data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li class="error-message error-insufficient-funds error-list-item error-insufficient-funds-text">Not
                      enough money in your main wallet<div class="betslip-deposit-link"><a class="show-quick-deposit"
                          href="https://accountservices.betfair.com/myaccount/account/MyAccount.do?tabID=3"
                          target="deposit">Deposit</a></div>
                    </li>
                    <li
                      class="error-message error-requested-price-not-available non-blocking-error-message volatile-error error-list-item remove"
                      id="yui_3_5_0_1_1643302095709_34809">Odds movement has prevented the bets being placed</li>
                  </ol>
                </div>

                <div class="bets-container" id="yui_3_5_0_1_1643302095709_34394" style="max-height: 989px;">
                  <div class="bets" id="yui_3_5_0_1_1643302095709_34393">
                    <div class="empty-betslip-msg">
                      <p class="title">Your betslip is empty.</p>
                      <p>Please make one or more selections in order to place bets.</p>
                    </div>
                    <div class="sgm-section hidden">
                      <div class="header">
                        <div class="odds-stake"><span class="stake-return-header">Stake &amp; Returns</span></div>
                        <div class="selections" title="Bet Builder">Bet Builder</div>
                      </div>

                      <div class="sgm-bets">
                      </div>
                    </div>
                    <div class="singles-section" id="yui_3_5_0_1_1643302095709_34392">
                      <div class="header" id="yui_3_5_0_1_1643302095709_34840">
                        <div class="odds-stake" id="yui_3_5_0_1_1643302095709_34839"><span class="stake-return-header"
                            id="yui_3_5_0_1_1643302095709_34842">Stake &amp; Returns</span></div>
                        <div class="selections" title="Singles">Singles</div>
                      </div>
                      <div class="singles" id="yui_3_5_0_1_1643302095709_34391">

                        <div class="event-group ui-no-status-message betslip-event-31200522"
                          id="yui_3_5_0_1_1643302095709_34390">
                          <div class="event-header" id="yui_3_5_0_1_1643302095709_34844">

                            <a href="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522"
                              class="ui-nav ui-top event-link" data-loader="#zone-main">
                              <span class="event-name" title="Evgeny Valerievich Makarenkov v Alexander Kolmin">Evgeny
                                Valerievich Makarenkov v Alexander Kolmin</span>
                            </a>
                          </div>
                          <ul class="event-bets-list" id="yui_3_5_0_1_1643302095709_34389">





                            <li id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443"
                              class="single ui-no-status-message    bet-placement-failure  ui-bet-row bet-row  valid-stake valid-number ui-market ui-924_292635689  ui-market-open ui-runner ui-924_292635689-41300944 ui-runner-active ui-runner-scope-valid ui-price-up"
                              data-last-price="1.8" data-marketid="924.292635689" data-selectionid="41300944"
                              data-uuid="84afc8b2b934a18b06fcb55fe614244c7358d443">


                              <div class="bet-error-message bet-error-message-84afc8b2b934a18b06fcb55fe614244c7358d443">




                              </div>


                              <div class="bet-common-info" id="yui_3_5_0_1_1643302095709_34388">
                                <div class="bet-promo-pricing">Enhanced Price</div>

                                <div class="bet-information">
                                  <div class="bet-information-inner">
                                    <div class="bet-information-inner-top">
                                      <div class="bet-stakes">
                                        <input type="text" maxlength="13" class="stake"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-stake"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-stake" value="0.1"
                                          data-last-saved-value="0.1" tabindex="1">

                                        <div class="bonus-conditions">
                                        </div>

                                        <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-maxStake"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-maxStake" class="max-stake"
                                          value="3.95">

                                        <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-minStake"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-minStake" class="min-stake"
                                          value="0.1">



                                        <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-odd"
                                          class="ui-runner-price ui-924_292635689-41300944  ui-display-decimal-price ui-price-up"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-odd" value="1.8">
                                        <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-trueOdd"
                                          class="ui-runner-price ui-924_292635689-41300944  ui-true-decimal-price ui-price-up"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-trueOdd" value="1.8">

                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-tfoNumerator"
                                          class="ui-runner-price ui-924_292635689-41300944  ui-fraction-numerator-tfo ui-price-up"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-tfoNumerator" value="4">
                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-tfoDenominator"
                                          class="ui-runner-price ui-924_292635689-41300944  ui-fraction-denominator-tfo ui-price-up"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-tfoDenominator" value="5">

                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-dfoNumerator"
                                          class="ui-runner-price ui-924_292635689-41300944  ui-fraction-numerator-dfo ui-price-up"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-dfoNumerator" value="4">
                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-dfoDenominator"
                                          class="ui-runner-price ui-924_292635689-41300944  ui-fraction-denominator-dfo ui-price-up"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-dfoDenominator" value="5">

                                        <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-handicap"
                                          class="ui-runner-handicap ui-924_292635689-41300944"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-handicap" value="9.5">

                                        <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-bog"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-bog" value="false">

                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-spAvailable"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-spAvailable" value="false">


                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-hasCashout"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-hasCashout" value="false">
                                        <input type="hidden"
                                          id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-hasEWCashout"
                                          name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-hasEWCashout"
                                          value="false">

                                        <input type="hidden" class="exchange-url" value="//www.betfair.com/exchange">

                                        <input type="hidden" name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-bsIds"
                                          value="924_292635689-41300944">


                                      </div>
                                    </div>


                                    <div class="bet-information-inner-bottom">
                                      <div class="potential">£0.18</div>
                                    </div>
                                  </div>
                                </div>

                                <div class="action-name-container single-line">
                                  <div class="action-name-inner">
                                    <a href="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?bseId=31200522&amp;bsContext=REAL&amp;bssId=41300944&amp;bsmSt=1643301967000&amp;action=removeSelection&amp;bsUUID=84afc8b2b934a18b06fcb55fe614244c7358d443&amp;bsmId=924.292635689&amp;modules=betslip&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
                                      class="delete-bet-button ui-betslip-action" data-loader=".multiples-bet-list"
                                      data-betslip-action="remove-bet" data-is-fctc="0" data-marketid="924.292635689"
                                      data-marketstarttime="1643301967000"
                                      data-uuid="84afc8b2b934a18b06fcb55fe614244c7358d443" data-context="real"
                                      tabindex="2"></a>

                                    <span class="selection-handicap">
                                      (<span class="ui-runner-handicap ui-924_292635689-41300944">
                                        +
                                        9.5
                                      </span>)
                                    </span>

                                    <div class="selection-name-container">
                                      <div class="selection-name" title="Alexander Kolmin"><span>Alexander Kolmin</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div id="yui_3_5_0_1_1643302095709_34387">





                                  <div class="odds-status  " id="yui_3_5_0_1_1643302095709_34386"><span
                                      class="odds-prefix-symbol">@</span><span
                                      class="odds ui-runner-price ui-924_292635689-41300944  ui-display-decimal-price  ui-price-up"
                                      data-history-depth="0">1.8</span>
                                    <div class="arrow"></div>
                                  </div>
                                </div>

                                <div class="bet-market-and-indicators">
                                  <div class="market-name-container">
                                    <div class="market-name-inner">
                                      <div class="market-name">




                                        <div
                                          class="cashout cashoutew-false cashout-false bet-84afc8b2b934a18b06fcb55fe614244c7358d443 eligible-false ">
                                          <span class="cashout-icon" title="Cash Out available on this market"></span>
                                        </div>
                                        <div class="market" title="Match Points Handicap">
                                          Match Points Handicap
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                                  <div class="bonus-info">
                                  </div>


                                </div>













                                <div id="priceboost-bet-bet-84afc8b2b934a18b06fcb55fe614244c7358d443"
                                  class="priceboost-row   no-token ui-display-decimal-price">

                                  <div class="priceboost-content-token-applied">
                                    <div class="priceboost-label-container">
                                      <p class="priceboost-label">Odds Boosted from to </p>
                                    </div>
                                    <div>
                                      <button type="button" class="priceboost-button-container ui-betslip-action"
                                        data-betslip-action="toggle-priceboost-apply"
                                        data-bet-id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443" data-context="real"
                                        data-dimension6="Moscow Liga Pro" data-dimension5="Table Tennis"
                                        data-dimension3="betslip" data-gacategory="Betting"
                                        data-dimension8="Match Points Handicap"
                                        data-dimension7="Evgeny Valerievich Makarenkov v Alexander Kolmin"
                                        data-galabel="Table Tennis" data-dimension129="11781840"
                                        data-dimension84="31200522"
                                        data-dimension51="event_inplay - All Markets - minimarketview - UNDIFFERENTIATED"
                                        data-dimension102="41300944" data-dimension101="924.292635689"
                                        data-dimension112="1.8" data-dimension11="back" data-dimension131="no"
                                        data-dimension85="%2Ftable-tennis%2Fmoscow-liga-pro%2Fevgeny-valerievich-makarenkov-v-alexander-kolmin%2F31200522"
                                        data-dimension132="Alexander Kolmin" data-dimension14="2593174"
                                        data-dimension79="yes" data-clear-dimensions="dimension111,metric10">
                                        <span class="priceboost-button-icon"></span>
                                        <span class="priceboost-button">Remove Boost</span>
                                      </button>
                                    </div>
                                  </div>

                                  <div class="priceboost-content-no-token">
                                    <div class="priceboost-label-container">
                                      <p class="priceboost-label">Odds Boost from to </p>
                                      <p class="priceboost-ew-msg"> <span class="com-msg msg-error msg-small "><i
                                            class="icon-error-msg"></i> Odds Boost not available with E/W Edge</span>
                                      </p>
                                    </div>
                                    <div>
                                      <button type="button" class="priceboost-button-container ui-betslip-action"
                                        data-betslip-action="toggle-priceboost-apply"
                                        data-bet-id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443" data-context="real"
                                        data-dimension6="Moscow Liga Pro" data-dimension5="Table Tennis"
                                        data-dimension3="betslip" data-gacategory="Betting"
                                        data-dimension8="Match Points Handicap"
                                        data-dimension7="Evgeny Valerievich Makarenkov v Alexander Kolmin"
                                        data-galabel="Table Tennis" data-dimension129="11781840"
                                        data-dimension84="31200522"
                                        data-dimension51="event_inplay - All Markets - minimarketview - UNDIFFERENTIATED"
                                        data-dimension102="41300944" data-dimension101="924.292635689"
                                        data-dimension112="1.8" data-dimension11="back" data-dimension131="no"
                                        data-dimension85="%2Ftable-tennis%2Fmoscow-liga-pro%2Fevgeny-valerievich-makarenkov-v-alexander-kolmin%2F31200522"
                                        data-dimension132="Alexander Kolmin" data-dimension14="2593174"
                                        data-dimension79="yes" data-clear-dimensions="dimension111,metric10">
                                        <span class="priceboost-button-icon"></span>
                                        <span class="priceboost-button">Apply Boost</span>
                                      </button>
                                    </div>
                                  </div>
                                  <div class="priceboost-overlay"></div>
                                </div>


                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTokenId" class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTokenId" value=""
                                  data-last-saved-value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeType" class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeType" value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeNumberOfPlaces"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeNumberOfPlaces"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeGenerosity"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeGenerosity" value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeMaxStake"
                                  class="hidden priceboostedge-max-stake"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeMaxStake" value="">

                                <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeOdd"
                                  class="hidden" name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeOdd"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTrueOdd"
                                  class="hidden priceboost-true-odd-value"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTrueOdd" value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeDfoNumerator"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeDfoNumerator"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeDfoDenominator"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeDfoDenominator"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTfoNumerator"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTfoNumerator"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTfoDenominator"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeTfoDenominator"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeEachwayOdd"
                                  class="hidden"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeEachwayOdd" value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeEachwayTrueOdd"
                                  class="hidden priceboost-eachway-true-odd-value"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeEachwayTrueOdd"
                                  value="">

                                <input type="hidden"
                                  id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeMaxStakeEachway"
                                  class="hidden priceboostedge-max-stake-eachway"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-priceboostedgeMaxStakeEachway"
                                  value="">


                                <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-suspended"
                                  class="hidden hidden-market-suspended"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-suspended" value="false">
                                <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-suspendedRunner"
                                  class="hidden hidden-market-runner-suspended"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-suspendedRunner" value="false">
                                <input type="hidden" id="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-sequence"
                                  name="bet-84afc8b2b934a18b06fcb55fe614244c7358d443-sequence" class="bet-sequence"
                                  value="12">
                                <div class="suspended-container">
                                  <div class="suspended-message" title="SUSPENDED">SUSPENDED</div>
                                  <div class="closed-message" title="CLOSED">CLOSED</div>
                                </div>
                                <div class="scope-invalid-container">
                                  <div class="scope-invalid-message">UNAVAILABLE</div>
                                </div>



                                <p class="error error-requested-price-not-available"><span>Odds have changed.</span></p>
                              </div>

                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>


                    <div class="multiples hidden" data-dimension3="betslip" data-gacategory="Interface"
                      data-galabel="multiples"
                      data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6"
                      id="yui_3_5_0_1_1643302095709_34409">
                      <div class="section-header multiples-header active is-collapsable"
                        data-target=".multiples-bets-real">
                        <span class="arrow"></span>
                        <span class="left-title" id="yui_3_5_0_1_1643302095709_34754">Multiples</span>
                        <span class="right-title">Stake &amp; Returns</span>
                      </div>

                      <div class="multiples-messages">
                        <div class="related-contingencies-message ">
                          Highlighted selections cannot be combined in multiples.
                        </div>
                      </div>

                      <div class="multiples-bets multiples-bets-real" id="yui_3_5_0_1_1643302095709_34411">
                        <div class="cashout cashout-false cashoutew-false visible-false">
                          <div class="eligible-false"><span class="cashout-icon">&nbsp;</span><span
                              class="cashout-text">Cash Out available</span></div>
                          <div class="not-eligible-true">Cash Out not available.&nbsp;<a
                              href="/sport/cashout?action=loadCashoutHelp" class="ui-nav ">Why?</a></div>
                        </div>
                        <ul class="multiples-bet-list">
                        </ul>
                      </div>
                    </div>

                    <div class="forecast-tricast hidden">
                      <div class="section-header ftcast-header is-collapsable" data-target=".ftcast-group-container">
                        <span class="arrow"></span>
                        <span class="left-title">Forecast &amp; Tricast</span>
                        <span class="right-title">Stake</span>
                      </div>
                      <div class="ftcast-group-container hidden">
                      </div>
                    </div>
                  </div>
                </div>



                <div class="controls" id="yui_3_5_0_1_1643302095709_34291">
                  <div class="betslip-control-container" id="yui_3_5_0_1_1643302095709_34741">
                    <div class="betslip-control-row total-stake" id="yui_3_5_0_1_1643302095709_34742">
                      <span>Total Stake: </span>
                      <span class="total-stake-value" data-value="0.10">£0.10</span>
                    </div>
                    <div class="betslip-control-row total-payout " "="" id=" yui_3_5_0_1_1643302095709_34740">
                      <span>Potential returns: </span><span class="total-payout-value"
                        id="yui_3_5_0_1_1643302095709_34783">£0.18</span></div>
                  </div>

                  <div class="toggles-container" id="yui_3_5_0_1_1643302095709_34290">

                    <div class="toggle-box bonus-box hidden" data-toggle="bonus" data-dimension3="betslip"
                      data-gacategory="Interface" data-galabel="use available bonus"
                      data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6">
                      <span class="bonus-icon cta"></span>
                      <div class="info">Use available bonus</div>
                      <div class="status-holder"><span class="com-toggler selected"><span class="circle"></span></span>
                      </div>
                      <input type="checkbox" id="REAL-bonus" name="bonus" class="hidden checkbox-bonus"
                        checked="checked">
                    </div>
                    <div class="toggle-box confirm-box" data-toggle="confirm" data-dimension3="betslip"
                      data-gacategory="Interface" data-galabel="confirm bets"
                      data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6"
                      id="yui_3_5_0_1_1643302095709_34289">
                      <div class="info" id="yui_3_5_0_1_1643302095709_34288">Confirm bets before placing</div>
                      <div class="status-holder" id="yui_3_5_0_1_1643302095709_34786"><span class="com-toggler"
                          id="yui_3_5_0_1_1643302095709_34785"><span class="circle"></span></span>
                      </div>
                      <input type="checkbox" id="confirm-REAL-bets" name="confirm-bets"
                        class="hidden checkbox-confirm-bet">
                    </div>

                    <div class="toggle-box bet-acceptance-box" data-toggle="bet-acceptance" data-dimension3="betslip"
                      data-gacategory="Interface" data-galabel="accept odds movement"
                      data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6">
                      <div class="info">Accept all odds movement</div>
                      <div class="status-holder"><span class="com-toggler"><span class="circle"></span></span>
                      </div>
                      <input type="checkbox" id="REAL-bet-acceptance" name="odds-movement"
                        class="hidden checkbox-bet-acceptance">
                    </div>
                  </div>

                  <input type="hidden" name="timestamp" value="1643302444001">

                  <div class="button-group-container">
                    <div class="remove-all-container">
                      <a href="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?action=removeAll&amp;modules=betslip&amp;bsContext=REAL&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
                        class="remove-all-bets ui-betslip-action" data-betslip-action="remove-all" tabindex="2">
                        Remove all
                      </a>
                    </div>

                    <div class="place-confirm-bets">


                      <button type="submit" class="place-bets-button ui-betslip-action" data-betslip-action="place-bets"
                        tabindex="1" data-dimension11="back" data-dimension3="betslip" data-gacategory="Betting"
                        data-galabel="place bet"
                        data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6">Place
                        Bets</button>
                    </div>
                  </div>
                </div>

                <div class="betslip-overlay">
                  <div class="betslip-overlay-text">
                    <div class="spinner"></div>
                    <div class="loading-label">
                      Loading bets
                    </div>
                  </div>
                </div>

                <div class="bottom-messages">
                  <div class="bets-have-changed-message">
                    Your bets have changed.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="betslip-state state-confirm  " id="yui_3_5_0_1_1643302095709_4580"></div>
          <div class="betslip-state state-place" id="yui_3_5_0_1_1643302095709_4581"></div>
        </div>
        <script id="betslip-row-error-template" type="text/x-template">

          <% if (this.type === "MinMaxErrorMessage") { %>
          <div class="error-bet-row-validation-text">Please enter stake between</div>
          <div class="error-bet-row-stake-validation">
              <a class="set-min-stake">min: <%= this.minStake %></a>
              |
              <a class="set-max-stake">max: <%= this.maxStake %></a>
          </div>
          <% } %>
  
          <% if (this.type === "GenericErrorMessage") { %>
          <div class="error-bet-row-validation-text"><%= this.message %></div>
          <% } %>
  
      </script>
      </div>
    </div>
  </div>
  <div class="betslip-container betslip-container-virtual" id="yui_3_5_0_1_1643302095709_4630">
    <div id="mod-betslip-1053-container" class="mod yui3-widget yui3-module yui3-betslip" data-mod-type="betslip"
      data-mod-id="1053">
      <div id="mod-betslip-1053" class="mod-betslip mod-betslip-betslip yui3-betslip-content">
        <div class="betslip-inner-container" data-context="virtual">
          <div class="betslip-state state-edit active betslip-is-empty">
            <form name="betslip-edit" id="betslip-virtual-form-edit" class="betslip-form-edit"
              action="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?action=confirm&amp;modules=betslip&amp;bsContext=VIRTUAL&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
              data-imply-action="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?action=getBetCombinations&amp;modules=betslip&amp;bsContext=VIRTUAL&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
              method="POST" enctype="application/x-www-form-urlencoded">
              <div class="betslip-body bonus-styling-change">
                <div class="messages">
                  <ol class="error-container error-ordered-list ">
                    <li
                      class="error-message error-payout-above-maximum-allowed-system-bet error-list-item error-payout-above-maximum-allowed-system-bet-text">
                      Your total potential winnings exceed the maximum of £0.00.</li>
                    <li class="error-message error-invalid-stake error-list-item error-invalid-stake-text">Your stake
                      contains invalid characters</li>
                    <li
                      class="error-message error-invalid-min-stake-system-bet error-list-item error-invalid-min-stake-system-bet-text">
                      The minimun stake for system bets is {0}.</li>
                    <li
                      class="error-message error-lines-above-maximum-allowed error-list-item error-lines-above-maximum-allowed-text">
                      The maximum number of combinations for system bets is {0}.</li>
                    <li
                      class="error-message error-stake-increment-invalid error-list-item error-stake-increment-invalid-text">
                      Your stake increment is not valid. Please see below:</li>
                    <li
                      class="error-message error-maximum-payout-exceeded error-list-item error-maximum-payout-exceeded-text">
                      Your total potential winnings exceed the maximum of <span
                        class="max-payout-exceeded-error-amount">£-1.00</span>.</li>
                    <li
                      class="error-message error-invalid-bonus-min-stake error-list-item error-invalid-bonus-min-stake-text">
                      Bonus cannot be used as your stake is too low. Please increase your stake.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-max-stake error-list-item error-invalid-bonus-max-stake-text">
                      Bonus cannot be used as your stake is too high. Please decrease your stake.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-min-odd error-list-item error-invalid-bonus-min-odd-text">
                      Bonus cannot be used as your selection(s) is below the minimum odds.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-max-odd error-list-item error-invalid-bonus-max-odd-text">
                      Bonus cannot be used as your selection(s) is above the maximum odds.<a
                        class="view-terms-conditions ui-gtm-click-defer" href="//promos.betfair.com/mybonuses/sport"
                        data-dimension3="betslip" data-gacategory="navigation"
                        data-dimension34="//promos.betfair.com/mybonuses/sport" data-galabel="bonus help"
                        data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li
                      class="error-message error-invalid-bonus-with-acca error-list-item error-invalid-bonus-with-acca-text">
                      Bonuses cannot be combined with ACCA Edge.<a class="view-terms-conditions ui-gtm-click-defer"
                        href="//promos.betfair.com/mybonuses/sport" data-dimension3="betslip"
                        data-gacategory="navigation" data-dimension34="//promos.betfair.com/mybonuses/sport"
                        data-galabel="bonus help" data-gaaction="navigated to">View T&amp;Cs</a></li>
                    <li class="error-message error-insufficient-funds error-list-item error-insufficient-funds-text">Not
                      enough money in your main wallet<div class="betslip-deposit-link"><a class="show-quick-deposit"
                          href="https://accountservices.betfair.com/myaccount/account/MyAccount.do?tabID=3"
                          target="deposit">Deposit</a></div>
                    </li>
                  </ol>
                </div>
                <div class="bets-container">
                  <div class="bets">
                    <div class="empty-betslip-msg">
                      <p class="title">Your virtual sports betslip is empty.</p>
                      <p>Please make one or more selections in order to place bets.</p>
                    </div>
                    <div class="sgm-section hidden">
                      <div class="header">
                        <div class="odds-stake"><span class="stake-return-header">Stake &amp; Returns</span></div>
                        <div class="selections" title="Bet Builder">Bet Builder</div>
                      </div>
                      <div class="sgm-bets">
                      </div>
                    </div>
                    <div class="singles-section">
                      <div class="header">
                        <div class="odds-stake"><span class="stake-return-header">Stake &amp; Returns</span></div>
                        <div class="selections" title="Singles">Singles</div>
                      </div>
                      <div class="singles">
                      </div>
                    </div>
                    <div class="multiples hidden" data-dimension3="virtual betslip" data-gacategory="Interface"
                      data-galabel="multiples"
                      data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6">
                      <div class="section-header multiples-header active is-collapsable"
                        data-target=".multiples-bets-virtual">
                        <span class="arrow"></span>
                        <span class="left-title">Multiples</span>
                        <span class="right-title">Stake &amp; Returns</span>
                      </div>
                      <div class="multiples-messages">
                        <div class="related-contingencies-message ">
                          Highlighted selections cannot be combined in multiples.
                        </div>
                      </div>
                      <div class="multiples-bets multiples-bets-virtual">
                        <div class="cashout cashout-false cashoutew-false visible-false">
                          <div class="eligible-false"><span class="cashout-icon">&nbsp;</span><span
                              class="cashout-text">Cash Out available</span></div>
                          <div class="not-eligible-true">Cash Out not available.&nbsp;<a
                              href="/sport/cashout?action=loadCashoutHelp" class="ui-nav ">Why?</a></div>
                        </div>
                        <ul class="multiples-bet-list">
                        </ul>
                      </div>
                    </div>
                    <div class="forecast-tricast hidden">
                      <div class="section-header ftcast-header is-collapsable" data-target=".ftcast-group-container">
                        <span class="arrow"></span>
                        <span class="left-title">Forecast &amp; Tricast</span>
                        <span class="right-title">Stake</span>
                      </div>
                      <div class="ftcast-group-container hidden">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="controls hidden">
                  <div class="betslip-control-container">
                    <div class="betslip-control-row total-stake">
                      <span>Total Stake: </span>
                      <span class="total-stake-value" data-value="0">
                        £0.00
                      </span>
                    </div>
                    <div class="betslip-control-row total-payout " "=""><span>Potential returns: </span><span class="
                      total-payout-value">£0.00</span></div>
                  </div>
                  <div class="toggles-container">
                    <div class="toggle-box confirm-box" data-toggle="confirm" data-dimension3="virtual betslip"
                      data-gacategory="Interface" data-galabel="confirm bets"
                      data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6">
                      <div class="info">Confirm bets before placing</div>
                      <div class="status-holder"><span class="com-toggler"><span class="circle"></span></span>
                      </div>
                      <input type="checkbox" id="confirm-VIRTUAL-bets" name="confirm-bets"
                        class="hidden checkbox-confirm-bet">
                    </div>
                  </div>
                  <input type="hidden" name="timestamp" value="1643302095386">
                  <div class="button-group-container">
                    <div class="remove-all-container">
                      <a href="/sport/table-tennis/moscow-liga-pro/evgeny-valerievich-makarenkov-v-alexander-kolmin/31200522?action=removeAll&amp;modules=betslip&amp;bsContext=VIRTUAL&amp;xsrftoken=edfdd910-7f8f-11ec-8a3d-fa163e263fc2"
                        class="remove-all-bets ui-betslip-action" data-betslip-action="remove-all" tabindex="2">
                        Remove all
                      </a>
                    </div>
                    <div class="place-confirm-bets">
                      <button type="submit" class="place-bets-button ui-betslip-action" data-betslip-action="place-bets"
                        tabindex="1" data-dimension11="back" data-dimension3="virtual betslip"
                        data-gacategory="virtual betting" data-galabel="place bet"
                        data-clear-dimensions="dimension131,dimension132,dimension112,dimension10,dimension99,dimension94,dimension96,dimension95,dimension51,dimension19,dimension14,dimension79,dimension35,dimension8,dimension9,dimension6,dimension7,dimension91,dimension101,dimension102,dimension129,dimension89,dimension85,dimension84,dimension29,dimension28,metric1,metric3,metric4,dimension5,metric5,metric6">Place
                        Bets</button>
                    </div>
                  </div>
                </div>
                <div class="betslip-overlay">
                  <div class="betslip-overlay-text">
                    <div class="spinner"></div>
                    <div class="loading-label">
                      Loading bets
                    </div>
                  </div>
                </div>
                <div class="bottom-messages">
                  <div class="bets-have-changed-message">
                    Your bets have changed.
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="betslip-state state-confirm  ">
          </div>
          <div class="betslip-state state-place  ">
          </div>
        </div>
        <script id="betslip-row-error-template" type="text/x-template">

          <% if (this.type === "MinMaxErrorMessage") { %>
          <div class="error-bet-row-validation-text">Please enter stake between</div>
          <div class="error-bet-row-stake-validation">
              <a class="set-min-stake">min: <%= this.minStake %></a>
              |
              <a class="set-max-stake">max: <%= this.maxStake %></a>
          </div>
          <% } %>
  
          <% if (this.type === "GenericErrorMessage") { %>
          <div class="error-bet-row-validation-text"><%= this.message %></div>
          <% } %>
  
      </script>
      </div>
    </div>
  </div>
</div>