<betslip>
  <div class="betslip-container">
    <!---->
    <bf-tabs ng-if="vm.tabs.length" selected-tab-id="POTENTIAL" tabs="vm.tabs" use-parent-dimensions="true"
      on-tab-click-callback="vm.onTabClickCallback">
      <!---->
      <section class="mod-tabs" data-ng-if="tabsCtrl.tabs &amp;&amp; tabsCtrl.tabs.length">
        <!---->
        <ul class="tabs-container" data-ng-if="tabsCtrl.tabs.length > 1 || !tabsCtrl.data.hideOnSingleTab"
          data-ng-style="{'height': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabHeight + 'px'}"
          data-bf-tabs-calc-max-number-of-children=""
          data-bf-tabs-on-max-number-of-children-change="tabsCtrl.api.onMaxNumberOfChildrenChange"
          data-bf-tabs-tab-width="100" data-bf-tabs-tab-margin="1" data-bf-tabs-allowed-tabs-update-trigger="">
          <!-- Element Tab -->
          <!---->
          <li class="tab-container POTENTIAL active"
            data-ng-repeat="tab in tabsCtrl.tabs | limitTo : tabsCtrl.api.calcTabsSize() : 0"
            data-ng-class="[tab.id, {active: tab.id === tabsCtrl.data.selectedTab.id}]"
            data-ng-click="tabsCtrl.api.onTabClickFn(tab)" data-ng-style="{
  'width': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabWidth + 'px',
  'line-height': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabHeight + 'px'
}"><a class="tab-heading" data-ng-href="">
              <!-- Thumbnail container -->
              <!---->
              <!-- Label container -->
              <!---->
              <h4 class="tab-label" title="" data-ng-if="tab.label" data-ng-class="{'with-thumbnail': tab.thumbnail}">
                Place bets (1)</h4>
              <!---->
            </a></li>
          <!---->
          <li class="tab-container OPEN"
            data-ng-repeat="tab in tabsCtrl.tabs | limitTo : tabsCtrl.api.calcTabsSize() : 0"
            data-ng-class="[tab.id, {active: tab.id === tabsCtrl.data.selectedTab.id}]"
            data-ng-click="tabsCtrl.api.onTabClickFn(tab)" data-ng-style="{
  'width': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabWidth + 'px',
  'line-height': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabHeight + 'px'
}"><a class="tab-heading" data-ng-href="">
              <!-- Thumbnail container -->
              <!---->
              <!-- Label container -->
              <!---->
              <h4 class="tab-label" title="" data-ng-if="tab.label" data-ng-class="{'with-thumbnail': tab.thumbnail}">
                Open bets</h4>
              <!---->
            </a></li>
          <!---->
          <li class="tab-container XSELL"
            data-ng-repeat="tab in tabsCtrl.tabs | limitTo : tabsCtrl.api.calcTabsSize() : 0"
            data-ng-class="[tab.id, {active: tab.id === tabsCtrl.data.selectedTab.id}]"
            data-ng-click="tabsCtrl.api.onTabClickFn(tab)" data-ng-style="{
  'width': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabWidth + 'px',
  'line-height': tabsCtrl.data.useParentDimensions ? '' : tabsCtrl.data.tabHeight + 'px'
}"><a class="tab-heading" data-ng-href="">
              <!-- Thumbnail container -->
              <!---->
              <!-- Label container -->
              <!---->
              <h4 class="tab-label" title="" data-ng-if="tab.label" data-ng-class="{'with-thumbnail': tab.thumbnail}">
                Games</h4>
              <!---->
            </a></li>
          <!---->
          <!-- More Tab -->
          <!---->
        </ul>
        <!---->
        <!---->
        <div class="tab-content" data-ng-repeat="tab in tabsCtrl.tabs"
          data-bf-tabs-lazy-load="tabsCtrl.api.showTabContent(tab)" data-bf-tabs-lazy-load-content="tab.content"
          data-bf-tabs-lazy-load-template-url="app/containers/betslip/place-bets/place-bets.html">
          <!---->
          <div class="lazy-load-directive" data-ng-if="isLoaded" data-ng-show="isVisible">
            <!---->
            <div data-ng-include="templateUrl">
              <!---->
              <section ng-if="content.selectedTab === 'POTENTIAL'" ng-switch="content.currentView">
                <!---->
                <!---->
                <!---->
                <!---->
                <countdown market-id="1.193701078" ng-switch-when="LOADING">
                  <div class="betslip-countdown">
                    <bf-spinner class="betslip-countdown__spinner">
                      <div class="bf-spinner"></div>
                    </bf-spinner>
                    <p class="betslip-countdown__placeholder">Please wait whilst your bets are placed</p>
                    <p class="betslip-countdown__timer">Placing bets in 5 second(s)</p>
                  </div>
                </countdown>
                <!---->
              </section>
              <!---->
            </div>
          </div>
          <!---->
        </div>
        <!---->
        <div class="tab-content" data-ng-repeat="tab in tabsCtrl.tabs"
          data-bf-tabs-lazy-load="tabsCtrl.api.showTabContent(tab)" data-bf-tabs-lazy-load-content="tab.content"
          data-bf-tabs-lazy-load-template-url="app/containers/betslip/open-bets/open-bets.html">
          <!---->
          <div class="lazy-load-directive ng-hide" data-ng-if="isLoaded" data-ng-show="isVisible">
            <!---->
            <div data-ng-include="templateUrl">
              <!---->
            </div>
          </div>
          <!---->
        </div>
        <!---->
        <div class="tab-content" data-ng-repeat="tab in tabsCtrl.tabs"
          data-bf-tabs-lazy-load="tabsCtrl.api.showTabContent(tab)" data-bf-tabs-lazy-load-content="tab.content"
          data-bf-tabs-lazy-load-template-url="app/containers/betslip/games/games.html">
          <!---->
        </div>
        <!---->
      </section>
      <!---->
    </bf-tabs>
    <!---->
  </div>
</betslip>